<!DOCTYPE html>
<html>
<head>
<title>Assesment Body Home Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/assesmentBodyHomePage.css" type="text/css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="welcome"> Welcome {Assesment Body} </div>   
    <div class="applicationStatusWrap">
    <div class="appstatus">Application Status</div>
    <div>
    <!-- Insert UI Grid Here for application Status-->
    </div>
    </div>
    <div class="pastBatchesBoxWrap">
    <div class="pastBatches">Past Batch(es)</div>
        <div>
        <!-- Enter UI Grid for Past Batches Here -->
        </div>
    </div>
 
    <div class="upcomingBatchesBoxWrap">
    <div class="upcomingBatches">Upcoming Batch(es)</div>
        <div>
          <!-- Enter UI Grid for Upcoming Batches Here -->
        </div>
    </div>
        <div class="assignedBatchesBoxWrap">
        <div class="assignedBatches">Assigned Batch(es)</div>
            <div><!-- Enter UI Grid for Assigned Batches Here --> </div>
        </div>
    
    
    <div class="confirmedBatchesBoxWrap">
        <div class="confirmedBatches"> Confirmed Batch(es)</div>
        <div> 
            <!-- Enter UI Grid for Confirmed Batches Here -->
        </div>     
    </div>
</div>
</body>
</html>