
<html>
<head>
    <meta charset="utf-8" />

        <style>
        body{
            margin-top: 60px;
            margin-left:50px;
        }
    </style>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>  
    
    <script src="js/columnchart.js"></script>
</head>
<body>
   <div style="width: 900px">
    </div>
    <div id="container" style="height:300px;width:300px"></div>
   
   
</body>
</html>