<!DOCTYPE html>
<html ng-app="app">

  <head>
    <!-- Angular Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
    
    <!-- Ui grid style sheet -->
    <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
    
    <!--CSS For Open Sans font family  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <!-- SSDMS style sheet for import history grid -->
    <link rel="stylesheet" href="../css/dataImportHistory.css" type="text/css" />
   
   <!-- Angular controller for import history -->
   <script src="../js/controllers/dataImportHistory.js" text="text/javascript"></script>
   
  </head>

  <body>
    <div class="table">
      <h3 class="import">Import</h3>
      <div class="table-wrap">
        <h4 class="title">Import History</h4>
        <div ng-controller="MainCtrl as Main">
          <div ui-grid="gridOptions"  ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid" class="grid-align"></div>
        </div>
      </div>
    </div>

    </body>
</html>