<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCGJ | Skill Council for Green Jobs</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css">
    <link rel="stylesheet" href="css/login.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--CSS Stylesheets-->
    <link rel="stylesheet" href="css/FAQ.css"/>
    <link rel="stylesheet" href="css/MRApproveRejectApplication.css" type="text/css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/MasterTemplate2.css">
    


    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>

    <!--Angular Controllers-->
    <script src="js/controllers/login.js"></script>



    <script src="js/index3.js"></script>
    
    <!--Angular Directives-->
    

    <script src="js/masterController.js"></script>

    <!--<script src="js/page1.js"></script>-->
    <!--<script src="js/page2.js"></script>-->
    <!--<script src="js/page3.js"></script>-->
    <!--<script src="js/page4.js"></script>-->
    <!--<script src="js/page5.js"></script>-->

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <!--Data import JQuery-->
    <!--<script type="text/javascript" src="js/dataImportCsv.js"></script>-->

    <style type="text/css">

        [ng\:cloak], [ng-cloak], .ng-cloak {
	    display: none !important;
       }
    </style>
</head>

<body ng-app="hello" ng-cloak class="ng-cloak">
<div ng-controller="navigation as nav" id="header">
    <div ng-hide="authenticated"  class="login-background col-md-12">
        
        <div>
            <div class="row login-row">
                <div class="col-md-6 col-md-offset-5">
                    
                    <div class="panel-login">
                        <div class="logo"><img class="headerImage" src="images/SCGJLogo.png" />
                        </div>
                        <div class="panel-heading">
                            <hr style="border-bottom: 1px dotted #ccc;background: white; margin-left:5px; margin-right:5px;" />
                            <div class="row panel-body">
                                <div class="col-xs-1">
                                    <a href="#" class="active" id="login-form-link">Login</a>
                                </div>
                                <div class="col-xs-1 col-xs-offset-1">
                                    <a href="#" id="register-form-link">SignUp</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <!-- LOGIN FORM -->

                                <form role="form" style="display: block;" data-toggle="validator" ng-submit="nav.login()" id="login-form">
                                    <div class="form-group input-group">
                                        <div>
                                            <input type="email" pattern="[a-zA-Z0-9-.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="username"  tabindex="1" class="form-control" data-error="Invalid Email" placeholder="Email ID" value=" " ng-model="nav.credentials.username" required />
                                        </div>
                                        <div class="help-block with-errors"> </div>
                                        <span class=" input-group-addon user-icon-bckgrnd" >
                              <i class="glyphicon glyphicon-user"></i>
                              </span>
                                    </div>
                                    <div class="wrraper">
                                        <div class="form-group input-group">
                                            <input type="password" data-minlength="6" name="password" id="password" tabindex="2" data-error="Minimum 6 Character" class="form-control" placeholder="Password" ng-model="nav.credentials.password" required />
                                            <div class="help-block with-errors"></div>
                                            <span class="input-group-addon" style="background-color:white; border:none; border-bottom:0px solid #ccc">
                                    <div>
                                       <button id="toggleBtn" class="glyphicon glyphicon-eye-open  toggler-ico" type="button">&nbsp;</button>
                                    </div>
                                 </span>
                                        </div>
                                    </div>
                                    <div class="errorMessageLoginPage">{{errorMessagesForLoggingIn}}</div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control button btn btn-primary" value="LOGIN" />
                                            </div>
                                        </div>
                                    </div>
                                </form>


                                <!-- SIGN UP FORM -->
								<div style="display: none;" data-toggle="validator" id="register-form">
                                <form role="form"  ng-submit="nav.signup()">
                                    <div class="form-group col-xs-6">
                                        <input type="text" onkeyup="this.value=this.value.replace(/[0-9]/g, '')" name="organizationName" id="organizationName" tabindex="1" class="form-control" placeholder="Organization Name" value="" ng-model="nav.newUser.organizationName" required />
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="text" onkeyup="this.value=this.value.replace(/[0-9]/g, '')" name="sPOCName" id="sPOCName" tabindex="2" class="form-control" placeholder="SPOC Name" ng-model="nav.newUser.sPOCName" required />
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="registerusername" id="username" tabindex="1" class="form-control" data-error="Invalid Email" placeholder="Email ID" value="" ng-model="nav.newUser.userId" required />
                                        <div class="help-block with-errors">
                                        </div>
                                        
                                    </div>
                                    <div class="form-group col-xs-12">
                                            <label><input type="radio" ng-model="nav.newUser.userRole" value="TP" name="role" required/>Training Partner</label>
                                            &nbsp; &nbsp; &nbsp; <label><input type="radio" ng-model="nav.newUser.userRole" value="AB" name="role" />Assessment Body</label>
                                        </div>
                                    <div class="wrraper">
                                        <div class="form-group input-group">
                                            <input type="password" minlength=6 name="registerPassword" id="registerPassword" tabindex="2" data-error-message="Minimum 6 Character" class="form-control" placeholder="Password" ng-model="nav.newUser.password" required/>
                                            <div class="help-block with-errors"></div>
                                            <span class="input-group-addon" style="background-color:white; border:none; border-bottom:0px solid #ccc">
                                    <div>
                                       <button id="signUptoggleBtn" class="glyphicon glyphicon-eye-open toggler-ico" type="button">&nbsp;</button>
                                    </div>
                                 </span>
                                        </div>
                                    </div>
                                    <div class="errorMessageLoginPage">{{errorMessagesForSignUp}}</div>
                                    <div class="successMessageLoginPage">{{successMessagesForSignUp}}</div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <input type="submit" name="signup" id="signup" tabindex="4" class="form-control button btn btn-primary" value="SIGN UP" />
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                                <div class ="signup-footer">
                                        &nbsp; &nbsp; &nbsp; By clicking signup,you agree to the SCGJ'S &nbsp;<b>"User Agreement</b>, <b>privacy policy,</b> and <b><br/>cookie policy"	</b>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="one-edge-shadow" ng-show="authenticated">
        <div class="leftContent">
            <img src="images/indexPageImages/SCGJLogo.png" alt="" class="image-0">
        </div>

        <div class="rightContent">
            <div class="logout-wrapper">

                <div class="username">
                    <h2 class="username"><b>{{ spockName }}</b></h2>
                </div>

                <div class="logoutButton">
                    <div class="logout-icon-text-wrap" ng-click="nav.logout()">
                        <div class="icon-wrap">
                            <img class="logout-icon" src="images/indexPageImages/logout.png">
                        </div>

                        <div class="text-wrap">
                            <h5 class="logoutText">Logout</h5>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </header>

    <!--<li ng-show="authenticated">-->
        <!--<a href="" ng-click="nav.logout()">logout</a>-->
    <!--</li>-->
</div>

<div ng-view class="container viewDiv">
    <!--Rendered Views-->
</div>

<script src="js/page1.js"></script>
<script src="js/page2.js"></script>
<script src="js/page3.js"></script>
<script src="js/page4.js"></script>
<script src="js/page5.js"></script>
<script src="js/trainingPartner.js"></script>
<script src="js/assessmentBody.js"></script>
<script src="js/profileCreationTp.js"></script>
<script src="js/profileCreationAb.js"></script>

<script type="text/javascript" src="js/services/dataImportCsvService.js"></script>
<script type="text/javascript" src="js/services/zipCertificateUpload.js"></script>
<script type="text/javascript" src="js/services/profileCreationTpService.js"></script>
<script type="text/javascript" src="js/dataImportCsv.js"></script>
<script type="text/javascript" src="js/login.js"></script>
<script type="text/javascript" src="js/directives/dataImportCsvDirective.js"></script>
<script type="text/javascript" src="js/directives/mobileAnnexureDirective.js"></script>
</body>
<footer ng-show="authenticated">
<!-- Logo footer edited part -->
 <div class="logoBar">
      <div class="image-wrap">
        <img src="images/indexPageImages/SkillMinistryLogo.png" alt="" class="image-1">


        <img src="images/indexPageImages/SkillIndiaLogo.png" alt="" class="image-2">


        <img src="images/indexPageImages/NSDCLogo.png" alt="" class="image-3">


        <img src="images/indexPageImages/MNRELogo.png" alt="" class="image-4">
      </div>
    </div>
    <div class="upperFooter">
        <div class="link-wrapper">
            <a href="http://sscgj.in/about-us/" class="link">About Us</a><span class="vert-bars"> | </span>
            <a href="http://sscgj.in/operational-standards/" class="link">National Standards</a><span class="vert-bars"> | </span>
            <a href="http://sscgj.in/affiliation/" class="link">Affiliation</a><span class="vert-bars"> | </span>
            <a href="http://sscgj.in/publications/" class="link">Publications</a><span class="vert-bars"> | </span>
            <a href="http://sscgj.in/state-linkages/" class="link">State Linkages</a>
        </div>

    </div>

    <div class="lowerFooter">
        <h5 class="copyright">Copyright &copy 2017 sscgj.in - All Rights Reserved.</h5>
    </div>
</footer>
</html>