<html ng-app="skillIndia" lang="en">
<head>


<link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.css"
	media="screen"></link>
<script src="/webjars/angularjs/1.4.3/angular.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="//code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/in/custom/in-all-disputed.js"></script>



<script src="poc/pieChartConfig.js"></script>
<script src="poc/pieChartDirective.js"></script>
<script src="poc/indiaMapConfig.js"></script>
<script src="poc/indiaMapChartDirective.js"></script>

<script src="poc/app.js"></script>




</head>
<body  ng-controller="MyCtrl">

	 <div >
		<div id ="container1" class="hc-pie" items="limitedIdeas"></div>
		</div>
 		<div >
		<div id ="container2" class="map-chart" data="mapData"></div>
		</div>
</body>
</html>