<!Doctype html>
<head>
<title>Training Partner</title>
<!-- Angular Scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
     <!-- Ui grid style sheet -->
    <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
    
    <!--CSS For Open Sans font family  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- CSS and JS scripts for training partner home page -->
<link href="css/trainingPartnerHomepage.css" type="text/css" rel="stylesheet">
<script src="js/controllers/trainingPartnerHomepage.js"></script>
</head>
<body ng-app="app">
<div class="container">
	<div class="welcome"> Welcome {Training Partner}
	</div>
	<div class="applicationStatusBoxwrap">
		<div class="applicationStatusTable"> Application Status </div>
		<div>
		
				<!-- enter Ui grid code here -->
		</div>
	</div>
	<div class="presentBatchesBoxwrap">
		<div class="presentBatchesTable"> Present Batch(es) </div>
		<div ng-controller="PresentCtrl">
		<div ui-grid="gridOptions"  ui-grid-edit ui-grid-cellNav class="grid"></div>
		<!-- enter Ui grid Code here -->
		 </div>
		
	</div>
	<div class="pastBatchesBoxwrap">
		<div class="pastBatchesTable"> Past Batch(es) </div>
		<div ng-controller="PastCtrl">
		<div ui-grid="gridOptions"  ui-grid-edit ui-grid-cellNav class="grid"></div>
		<!-- enter Ui grid code here -->
		 </div>
	</div>
</div>
</body>
</html>
