.ab-img-shadow
{
	box-shadow: 0 0 10px #ccc;
	cursor: pointer;
}
.ab-img-shadow:hover
{
	cursor: pointer;
}
.CommonCell
{
 width: 50px;
  height: 10px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  padding-left:10px;
  padding-top:5px;
}
.pointer
{
	cursor:pointer;
}
.statuscellred{
	
	color: Red;
}
.statuscellgreen{
	
	color: green;
}
.Status {
 
  ;
  color: #676a6c;
 
}
.cell
{
 width: 58px;
  height: 15px;
  font-family: OpenSans;
  font-size: 15px;
  text-align: left;
  color: #676a6c;
  padding-left:10px;
  padding-top:5px;
}
.showInterest
{
 text-align: center;
}
.check
{
 text-align:center;
 margin:center;
}
.mainboundary
{
 background-color:White;
 padding:1em;
 margin-bottom:1em;
}
.heading
{
/*     padding: 0.3em; */
margin-bottom:1em;
    color: grey;
    font-size: 14px;
    font-weight: 600;
}

.tick
{
 margin-bottom:5px;
 cursor: pointer;
}
.tick:hover{
	-moz-box-shadow: 0 0 10px #ccc;
		-webkit-box-shadow: 0 0 10px #ccc;
		box-shadow: 0 0 10px #ccc;
}
.ab-background{
	background-color: #EAEEEF;
	padding:1em;
}