.mainWrap{
  background-color: #ECF0F1;
/*   width:1018px; */
  height: auto;
  padding:1em;
	}
.batchAssignment{
/*   width: 250px; */
  height: 24px;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
/*   padding-top: 33px; */
/*   padding-bottom: 35px; */
  font-size: 20px;
/*   line-height: 1.58; */
/*   text-align: left; */
  color: #676a6c;
  
  }
  .grid-heading-text{
  color: #676a6c;
  font-size:14px;
  font-weight:600;
  padding:0.5em; 
  }
.nonAssignedBatchTableWrap{
	width: 100%;
  height: auto;
/*   margin-left: 21px; */
  margin-bottom: 1em;
/*   padding: 1em; */
  background-color: #fffefe;
  padding:1em;
  }
.searchBatchWrap{
	width: 100%;
  height: auto;
/*   margin-left: 21px; */
  margin-bottom: 1em;
  padding:1em;
  background-color: #fffefe;
  
  }
.proposedWrap{
	width: 100%;
  height: auto;
/*   margin-left: 21px; */
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fffefe;
  
  }
  .approvedWrap{
	width: 100%;
  height: auto;
/*   margin-left: 21px; */
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fffefe;
  
  }
  .rejectedWrap{
	width: 100%;
  height: auto;
/*   margin-left: 21px; */
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fffefe;
  
  }
.nonAssignedBatchesGrid {
  width: 100%;
  height: 250px !important;
/*   margin-left: 21px; */
}
.searchBatchGrid {
  width: 100%;
  height: 70px !important;
/*   margin-left: 21px; */
  margin-top: 0.5em;
}
.proposedBatchesGrid {
  width: 100%;
  height: 180px !important;
/*   margin-left: 21px; */
  margin-bottom: 1em;
}
.approvedBatchesGrid {
  width: 100%;
  height: 180px !important;
/*   margin-left: 21px; */
}
.rejectedBatchesGrid {
  width: 100%;
  height: 180px !important;
/*   margin-left: 21px; */
}
.searchBatchId {
  font-size: 14px;
  font-weight:600;
  text-align: left;
  color: #676a6c;
  /*   margin-left: 50px; */
}
*{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.searchButton{
    font-size:10pt;
    width:6em; 
    height:2em;
    color:white;
    background-color:#1ab394;
    border:0px solid #1ab394;
    border-radius:0.2em;
    padding:4px;
}
