.accordian
     {
    	width:100%;
     }   
.backfaq
{
 background-color:#ECF0F1;
    }
 
.Rectangle
	{
		width: 971px;
		height: 68px;
		background-color: #fffefe;
		box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
		
	}
        
.FAQs {
  height: 20px;
  margin-left: 26px;
  padding-top: 23px;
  padding-bottom: 28px;
  font-size: 18px;
  line-height: 1.58;
  text-align: left;
  color: #000000;
}
   
.left
	{
		float:left;
		width:70%;
	}

.center 
	{
		display: inline-block;
/*    margin:0 auto;*/
/*     float:center;*/
		width:20%;
		line-height: 55px;
    }

.right
	{
		display: inline-block;
		float:right;
		width:10%;
		text-align: center;
		line-height: 55px;
   
	}
	
.Rectangle-7 {
  width: 971px;
  height: 68px;
  background-color: #fffefe;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
}	

.question {
  height: 31px;
  font-size: 14px;
  text-align: left;
  color: #676a6c;
}

.rightRectangle
	{
		display: inline-block;
		float:right;
		width:950px;
		text-align: center;
		line-height: 55px;
   
	}


.edge
	{
		width: 971px;
		height: 4px;
	
	}

.edgeFAQ
	{
		width:971px;
		height: 20px;
	}

.lMargin
	{
		margin-left : 16px;
	}
