body {
    padding-top:40px;
    padding-left:196px;
    background-repeat: no-repeat;
    width: 90%;
    background-size: 120%;
}
.panel-login {
    width: 500px;
    border-top-right-radius: 0;
    border-top-left-radius : 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
     
    
	 -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
} 

.panel-login>.panel-heading {
	color: #00415d;
    background-color: #fff;
	border-color: #fff;
	text-align:left;
}
.logo{
    margin-left: 23%;
    height: 70px;
}

.panel-body{
	margin-right:auto;
	margin-left:auto;
	}

.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: black;
	font-size: 15px;
}
/*
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
*/
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	background: transparent;
	margin-left: 21px;
    border: 0px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom: 1px solid #CCC;
	height: 45px;
    width: 450px;
	-webkit-box-shadow: none;
	padding:  25px;
	
	font-size: 12px;
} 

.input-group-addon{
	background-color:white;
    border:none;
    position: absolute;
    right: 3px;
    top: 13px;
    border-bottom:0px solid #CCC; 
}


.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: cornflowerblue;
}
.button {
    margin-top: 25px;
    margin-left: 7px;
	background-color: #29B6D4;
	outline: none;
	color: #fff;
	font-size: 15px;
	height: 55px;
	width: 200px;

	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.list-unstyled{
	padding-left:42px;
	    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
/*
. button:focus {
	color: blue;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
*/

/*.text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 1px;
    padding: 3px 10px;
}
*/

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
#password + .glyphicon {
    cursor: pointer;
    pointer-events: all;
}

