.add-btn{
    margin: 20px 0px;
}

.row-margin{
    margin: 50px auto;
}

.table-top{
    margin-top : 20px;
}

.btn-checkbox{
    padding-left : 20px;
}

th{
    padding-bottom: 15px;
}

.accordion-toggle{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.acc-heading{
    margin-right : 0px;
}