.add-btn{
    margin: 20px 0px;
}

.row-margin{
    margin: 50px auto;
}

.table-top{
    margin-top : 20px;
}
.ab-table
{
	width:100%;
}
.btn-checkbox{
    padding-left : 20px;
}

.btn-pc-upload
{
  text-align: left;
  color: #ffffff;
  background: #26b4ce;
}

th{
    padding-bottom: 15px;
}

.accordion-toggle{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.acc-heading{
    margin-right : 0px;
}

.row-welcome-banner{
    width: 100%;
    background-color: grey;
    color: white;
    padding: 2em;
}

.welcome-desc{
    margin-top : 15px;
}
.btn-pc-next
{
	background-color : #1ab394;
	color : white;
	text-align: center;
	width : 100%;
}
.btn-pc-draft
{
	background-color : #f49417;
	color : white;
	text-align : center;
	width : 100%;
}
.btn-pc-sumbit
{
	background-color : #1ab394;
	color : white;
	text-align : center;
	width : 100%;
}