*{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}
.welcome {
   height: 36px;
  font-family: OpenSans;
  font-size: large;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}

.presentBatchesBoxwrap {
  
  height: 275px;
  margin-left: 51px;
  margin-right: 51px;
  margin-top: 220px;
  margin-bottom: 24px;
  background-color: #fffefe;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);

}
.presentBatchesTable {
  width: 122px;
  height: 15px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
 padding: 10px;
  text-align: left;
  color: #676a6c;
}
.pastBatchesBoxwrap {
  
  height: 275px;
  margin-left: 51px;
  margin-right: 51px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #fffefe;
  box-shadow: 0px 1px 0 0 rgba(0, 0, 0, 0.1);
}
.pastBatchesTable {
  width: 122px;
  height: 15px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
  color: #676a6c;

}
.grid {
  margin-left:21px;
  margin-right:24px;
  background-color: none;
  border-width: '2px';
  height: 190px;
}

 .ui-grid-header-cell-wrapper {
 	height: auto;
 	
 }
.download {
	text-align: center;
	vertical-align: middle;
      cursor: pointer;
}
.Prostokt-2-kopia-2-copy-10 {
  
   height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  font-weight: bold;
  
}
.Prostokt-2-kopia-2-copy-11 {
  
 height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  font-weight: bold;
  
}
.Prostokt-2-kopia-2-copy-12 {
  
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  font-weight: bold;
  }
.Prostokt-2-kopia-2-copy-13 {
  
 height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
    }

 
