*{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.welcome {
  margin-left: 30px;
  margin-top: 20px;
  padding-top: 23px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight:bold;
  line-height: 1.58;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);;
}
.tpMainDiv{
	background-color: #EAEEEF;
	padding:1em;
}
.title{
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #676a6c;
	
}
.appStatusDiv{
	background-color: White;
	padding:1em;
	margin-bottom:1em;
}

.presentBatchesBoxwrap {
  
    background-color: #fffefe;
    padding:1em;
    margin-bottom:1em;

}
.presentBatchesTable
{
  font-weight: 600;
  text-align: left;
  color: #676a6c;
}
.pastBatchesBoxwrap 
{
  background-color: #fffefe;
  padding:1em;
  margin-bottom:1em;
}
.pastBatchesTable {
  font-weight: 600;
  text-align: left;
  color: #676a6c;

}

 .ui-grid-header-cell-wrapper {
 	height: auto;
 	
 }
.download {
	text-align: center;
	vertical-align: middle;
      cursor: pointer;
}
.Prostokt-2-kopia-2-copy-10 {
  
   height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  font-weight: bold;
  
}
.Prostokt-2-kopia-2-copy-11 {
  
 height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  font-weight: bold;
  
}
.Prostokt-2-kopia-2-copy-12 {
  
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  font-weight: bold;
  }
.Prostokt-2-kopia-2-copy-13 {
  
 height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
    }
.comment
{
	
}
.Prostokt-2-kopia-2-copy-14 {
	padding-top: 7px;
	text-align: center;
	vertical-align: middle;
	object-fit: contain;
	object-position: bottom;
}
.commoncell{
	padding-left:10px;
}
.statuscellred{
	
	color: Red;
}
.statuscellgreen{
	
	color: green;
}

.MainDivision {
  width: 1178px;
  height: 152px;
  background-color:White;

}
.Application-ID {
  
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}
.Date-of-Submission {
  
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}
.Submitted-By {
  
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}
.Action-copy {
  
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  margin-top:8px;
  padding-left:8px;
  padding-top:5px;
}
.Status {
 
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}
.Comment {
  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
  border:1px;
}

.edit {
  width: 13px;
  height: 13px;
  object-fit: contain;
  opacity: 0.5;
  background-color: white;
  padding-left:28px;
}
.bId{
	  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}

.compDate{
	  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}

.insName{
	  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}

.candidates{
	  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}
.downCer{
	  height: 36px;
  font-family: OpenSans;
  font-size: 13px;
  text-align: left;
  color: #676a6c;
  color: var(--slate-grey);
  padding-left:10px;
  padding-top:5px;
}
