<!doctype html>
<html ng-app="app">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
	<script src="//ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="//ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="//ui-grid.info/release/ui-grid.css" type="text/css">
	<link rel="stylesheet" href="css/ApplicationStatus.css" type="text/css">
	</head>
  <body>
  <div ng-controller="MainCtrl" class="Rectangle-7-copy-11">
        <h4 class="title">Appliction Status</h4>
  <div ui-grid="gridOptions" class="grid" ui-grid-auto-resize></div>
  </div>
	<script src="js/controllers/AbApplicationStatus.js"></script>
  </body>
</html>