<html>
<head>
<link href="Abhomepage.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="mainwrap">
	<div class="welcome"> Welcome {Assessment Body}
	</div>
	<div class="appstboxwrap">
		<div class="appst"> Application Status </div>
		<div>
			<!-- enter Ui grid code here -->
		</div>
	</div>
	<div class="prsntbtchboxwrap">
		<div class="presentbatch"> Present Batch(es) </div>
		<div>
			<!-- enter UI grid code here -->
		 </div>
	</div>
	<div class="pstbtchboxwrap">
		<div class="pastbatch"> Past Batch(es) </div>
		<div> </div>
	</div>
	<div class="asgnstboxwrap">
		<div class="assignstatus"> Assignment Status </div>
		<div>
			<!-- enter UI grid code here -->
		 </div>
	</div>
</div>
</body>
</html>
