
<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/batchAssignmentSearchBatches.css">
</head>
<body>
<div class="mainwrap"> 
<div class="Background">
    </div>   
    <div class="Formboxwrap"> 
      <form id="Search-Batch-ID"  method="post" role="form" style="display: block;">
          <label>Search Batch ID</label> 
             <input type="text" class="text" placeholder="Search..." required name='searchText'>
             <input type="button" class="button"  value="Search">
      </form>     
    </div>
</div>
</body>
</html>
