<!DOCTYPE html>
<html ng-app="app">

<head><link rel="stylesheet" href="data Import.css">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid.js"></script>
  
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">   <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="data Import.css">
</head>
<body>
<div id="wrap"><h3>Import</h3>

<div id="d1"></div>
<div id="d2"><h5>Import History</h5>
	<div ng-controller="MainCtrl">
    <div ui-grid="gridOptions" class="grid" ui-grid-auto-resize></div>
   <script src="data Import.js"></script>
</div>

</div>
</div>
</body>
</html>