
<div ng-controller="page3">
    <div class="col-md-12 form-horizontal upload" id="uploadDiv">
        <form name="myform">
            <div class="row" id="uploadDivRow">
                <div class="col-md-3" id="csvTypeDiv">
                    <select autofocus class="form-control" id="select" required ng-model="csvType" ng-init=" csvType = optionValues[0].id" ng-options="option.id as option.name for option in optionValues">
                    </select>
                </div>
                <div class="col-md-5" id="csvFileDiv">
                    <div class="form-group">
                        <input type="file" id="csvFile" accept=".csv" class="file" file-model="dataImport.uploadCsvFile" />
                        <div class="input-group col-xs-12">
                            <input type="text" id="csvFileName" ng-model="csvName" class="form-control input" data-error="Please enter .csv file" placeholder="Upload .csv File Here" required/>
                            <span class="input-group-btn">
                                        <button class="browse btn btn-primary input" id="browseButton" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                    </span>
                        </div>
                        <span ng-show="myform.csvName.$touched && myform.csvName.$invalid">Please Select a .csv file</span>
                    </div>
                </div>
                <div class="col-md-2" id="uploadButtonDiv">
                    <button type="submit" class="form-control btn btn-info btn data-disable" id="uploadButton" ng-click="uploadCSV()">Upload</button>
                </div>

            </div>
<div id="responseOfUpload" class="form-horizontal col-md-12"></div>
        </form>
        
    </div>
</div>
