<!--<!DOCTYPE html>
<html ng-app="app">  -->

  <head>
    <!-- Angular Scripts -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script> -->
   <!-- <script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>-->
    
    <!-- Ui grid style sheet -->
    <!-- <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" /> -->
    
    <!--CSS For Open Sans font family  -->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
    
    <!-- SSDMS style sheet for import history grid -->
    <link rel="stylesheet" href="../css/dataImportHistory.css" type="text/css" />
   
   <!-- Angular controller for import history -->
   
   
  </head>

 <!--<body> --> 
      <div class="container">
        <h2 class="import">Import</h2>
      <div class="upload" ng-include="'partials/dataImportCSV.html'"></div>
      <div class="historytable">
        <h4 class="title">Import History</h4>
      <div ng-controller="importController">
      <div ui-grid="dataImportHistory"  ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
      </div>
      </div>
      
      
      
      <div class="certificate" ng-controller="importController"> 
    

      <form id="Search-Batch-ID"  method="post" role="form" style="display: block;">
          <label class="label">Search Batch ID</label> 
             <input type="text" class="text" placeholder="Enter Batch ID" required name='searchText' ng-model="batchId"/>
             <input type="button" class="button"  value="Search" ng-click="getDataOfBatch()"> <p id="responseMessage">{{errorMessage}}</p>
  	</form>
		 <div ui-grid="searchBatch" class="grid1" ui-grid-auto-resize> 
		 <div class="ui-grid-cell-contents"></div> 

  </div>
  
</div>
      </form>  
      </div>  
      
      
<!-- <div ng-controller="importController" >
<p>{{$scope.errorMessage}}</p>
</div>  --> 


        <div class="historytable1">
  <h5 class="title">Certificate Upload History</h5>
   <div ng-controller="importController">
      <div ui-grid="certificateImportHistory" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
      </div>
      </div>
      
<script src="dataImportHistory.js"></script>
   <!-- </body>
</html> --> 
