<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
<!--    <title>Bootstrap FAQ Template | PrepBootstrap</title>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="css/FAQ.css" />
    <link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
<!--    <link rel="stylesheet" href="../css/approve.css" type="text/css" />-->
   
<link rel="stylesheet" type="text/css" href="css/FAQgrid.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>
    
        <script type="text/javascript" src="js/FAQ.js"></script>
   
</head>
<body>

	


    <h3>FAQ's</h3>
    <div class="container mainBody" ng-controller="FAQTotalCandidatesTrainedAssessedCertifiedController">
		<div class="container accordian">        
       		<div class="left Rectangle">
            <ul>
            <li class="panel-title panel-heading FAQ1">How many candidate’s we have trained/assessed/certified so far overall (across all the scemes)</li>
            </ul>
        	</div>
    		<div class="center Rectangle">

   			</div>
   		 <div class="right Rectangle">          
         		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >
         		<span class="glyphicon glyphicon-plus" ng-click="getDataOfScheme()"></span></a>
   		 </div>
		</div>
            <div id="collapseOne" class="panel-collapse collapse" >
                <div class="panel-body">
    				<div class="table">
   						 <div ng-bind="selectedScheme">
							<h6  class="manage"></h6>
						</div>
      					<div class="table-wrap">
        					<div ng-controller="FAQTotalCandidatesTrainedAssessedCertifiedController as FAQ">
          						<div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav class="grid">
          						</div>
        					</div>
      					</div>
    				</div>
   			</div>
		 </div>
	</div>
	
	
	<div class="container mainBody " ng-controller="FAQCountOfTotalTrainingCentresConductingTrainingController">
		<div class="container accordian">        
       		<div class="left Rectangle">
            <ul>
            <li class="panel-title panel-heading FAQ1">How many candidates we have trained/assessed/certified in particular scheme (PMKVY/Non-PMKVY)</li>
            </ul>
        	</div>
    		<div class="center Rectangle">
    			<select ng-model="selectedScheme" ng-options="scheme for scheme in schemeDropDownOptions"></select>
   			</div>
   		 <div class="right Rectangle">          
         		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsetwo" >
         		<span class="glyphicon glyphicon-plus" ng-click="getDataOfScheme()"></span></a>
   		 </div>
		</div>
            <div id="collapsetwo" class="panel-collapse collapse" >
                <div class="panel-body">
    				<div class="table">
   						 <div ng-bind="selectedScheme">
							<h6  class="manage"></h6>
						</div>
      					<div class="table-wrap">
        					<div>
        						<div ng-controller="FAQCountOfTotalTrainingCentresConductingTrainingController as FAQ">
          						<div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav class="grid">
          						</div>
          						</div>
        					</div>
      					</div>
    				</div>
   			</div>
		 </div>
	</div>
	
	
	
	
	<div class="container mainBody " ng-controller="FAQScreenController3">
		<div class="container accordian">        
       		<div class="left Rectangle">
            <ul>
            <li class="panel-title panel-heading FAQ1">How much training is going on in state XYZ</li>
            </ul>
        	</div>
    		<div class="center Rectangle">
    			<select ng-model="selectedState" ng-options="state for state in stateDropDownOptions"></select>
   			</div>
   		 <div class="right Rectangle">          
         		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsethree" >
         		<span class="glyphicon glyphicon-plus" ng-click="getDataOfState()"></span></a>
   		 </div>
		</div>
            <div id="collapsethree" class="panel-collapse collapse" >
                <div class="panel-body">
    				<div class="table">
   						 <div ng-bind="selectedState">
							<h6  class="manage"></h6>
						</div>
<!--       					<div class="table-wrap">   -->
<!--         					<div>   -->
<!--           						<div ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav class="grid">-->
 <!--          						</div>-->
  <!--       					</div>-->
 <!--      					</div>        -->
    				</div>
   			</div>
		 </div>
	</div>

	
</body>
</html>