<!--<!DOCTYPE html>-->
<!--<html ng-app="app">-->

  <!--<head>-->
   <!-- Angular Scripts -->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>-->
    <!--<script src="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.js"></script>-->
    
    <!-- Ui grid style sheet -->
    <!--<link rel="stylesheet" href="//cdn.rawgit.com/angular-ui/bower-ui-grid/v3.0.6/ui-grid.min.css" type="text/css" />-->
    
    <!--CSS For Open Sans font family  -->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">-->
    
    <!-- SSDMS style sheet for import history grid -->
    <!--<link rel="stylesheet" href="MRApproveRejectApplication.css" type="text/css" />-->
   
   <!-- Angular controller for import history -->
   <!--<script src="MRApproveRejectApplication.js" text="text/javascript"></script>-->
      
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--</head>-->

  <!--<body>-->
    
   
    <link rel="stylesheet" href="css/MRApproveRejectApplication.css" type="text/css" />

<div ng-controller="manageController">
    
      <div class="table">
     <h3 class="manage">Manage Registration</h3>
      <div class="table-wrap">
        <h4 class="title">Approve/Reject Forms</h4>
        <div class="approveReject">
          <div  ui-grid="gridOptions"  ui-grid-edit ui-grid-cellNav class="grid"></div>
          
        </div>
      </div>
  
  

    <div class="table1">
        <h4 class="table2-wrap"> Approved Applications </h4>
        <div>
            <div  ui-grid="gridOptionsApproved" ui-grid-edit ui-grid-cellNav class="grid1"></div>
        </div>
        </div> 
        <div ng-show="messagealert" ng-model="message" ng-controller="manageController">{{message}}</div>   
    <div class="table1">
        <h4 class="table2-wrap"> Rejected Applications </h4>
        <div>
            <div ui-grid="gridOptionsRejected" ui-grid-edit ui-grid-cellNav class="grid1"></div>
        </div>
        </div>    
        <div ng-show="messagealert" ng-model="message" ng-controller="manageController">{{message}}</div>

<div class="table1">
        <h4 class="table2-wrap"> Incomplete Applications</h4>
        <div >
            <div ui-grid="gridOptionsIncomplete" ui-grid-edit ui-grid-cellNav class="grid1"></div>
        </div>
        </div> 
    </div>
        </div>
   <script src="/js/MRApproveRejectApplication.js"></script>


  <!--</body>-->
<!--</html>-->
