	<div class="welcome"> Welcome</div>
	<div class="presentBatchesBoxwrap">
		<div class="presentBatchesTable"> Present Batch(es) </div>
		<!-- enter Ui grid Code here -->
		<div ng-controller="presentController"> 
		<div ui-grid="gridOptions"  ui-grid-edit ui-grid-cellNav class="grid"></div>
	</div>
	</div>
	
	<div class="pastBatchesBoxwrap">
		<div class="pastBatchesTable"> Past Batch(es) </div>
		<div ng-controller="pastController">
		<div ui-grid="gridOptions"  ui-grid-edit ui-grid-cellNav class="grid"></div>
		<!-- enter Ui grid code here -->
		 </div>
	</div>
