<!Doctype html>
<head>
<title>Training Partner</title>
<link href="src/main/resources/static/css/trainingPartnerHomepage.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
	<div class="welcome"> Welcome {Training Partner}
	</div>
	<div class="applicationStatusBoxwrap">
		<div class="applicationStatusTable"> Application Status </div>
		<div>
				<!-- enter Ui grid code here -->
		</div>
	</div>
	<div class="presentBatchesBoxwrap">
		<div class="presentBatchesTable"> Present Batch(es) </div>
		<!-- enter Ui grid Code here -->
		<div> </div>
	</div>
	<div class="pastBatchesBoxwrap">
		<div class="pastBatchesTable"> Past Batch(es) </div>
		<div>
		<!-- enter Ui grid code here -->
		 </div>
	</div>
</div>
</body>
</html>
