<div>
    <div class="field1">
        <div class="col-md-6">Year of establishment</div>
        <div class="col-md-6">
            <select ng-model="selected" ng-options="d as d.year in year">
                <option value="">Choose year</option>
            </select>
        </div>
    </div>

    <div class="field2">
        <div class="col-md-6">Qualification Packs</div>
        <div class="col-md-6">
            <select ng-model="selected" ng-options="d as d.year in year">
                <option value="">Choose year</option>
            </select>
        </div>
    </div>

    <div class="field3">
        <div class="col-md-6">Is the institution NSDC Funded?</div>
        <div class="col-md-6">
            <select ng-model="selected" ng-options="d as d.year in year">
                <option value="">Choose year</option>
            </select>
        </div>
    </div>
</div>