<div>
    <div>
        <div class="col-md-9">
            <h2>{{trainingPartner.organizationName}}</h2>
        </div>
        <div class="col-md-3">
            <h2>{{trainingPartner.sPOCName}}</h2>
        </div>

    </div>

	<div class="field1">
        <div class="col-md-6">UserId</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.userId" value="{{userId}}" readonly>
        </div>
    </div>
    
    <div class="field1">
        <div class="col-md-6">OrganizationName</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.organizationName" value="{{organizationName}}" readonly>
        </div>
    </div>
    
    <div class="field1">
        <div class="col-md-6">sPOCName</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.sPOCName" value="{{sPOCName}}" readonly>
        </div>
        
    </div>



    <div class="field1">
        <div class="col-md-6">Address</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.address" value="{{address}}"required>
        </div>
    </div>

    <div class="field2">
        <div class="col-md-6">City</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.city" value="{{city}}" required>
        </div>
    </div>

    <div class="field3">
        <div class="col-md-6">State</div>
        <div class="col-md-6">
            <select ng-model="trainingPartner.state" ng-options="x for x in states">
                <option value="">Choose state</option>
            </select>
        </div>
    </div>

    <div class="field3">
        <div class="col-md-6">PIN Code</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.pincode" value="{{pincode}}" required>
        </div>
    </div>

    <div class="field4">
        <div class="col-md-6">Mobile No.</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.mobileNumber" value="{{mobile}}" required>
        </div>
    </div>


    <div class="field5">
        <div class="col-md-6">Alternative Mobile No.</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.alternateMobileNumber" value="{{mobileAlt}}">
        </div>
    </div>


    <div class="field6">
        <div class="col-md-6">Landline No.</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.landlineNumber" value="{{landline}}" required>
        </div>
    </div>


    <div class="field7">
        <div class="col-md-6">Alternative landline no.</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.alternateLandlineNumber" value="{{landlineAlt}}">
        </div>
    </div>


    <div class="field8">
        <div class="col-md-6">Fax</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.faxNumber" value="{{fax}}" required>
        </div>
    </div>


    <div class="field9">
        <div class="col-md-6">Website</div>
        <div class="col-md-6">
            <input type="text" ng-model="trainingPartner.websites" value="{{website}}" required>
        </div>
    </div>

<div>
{{trainingPartner}}
</div>


    <button type="button" ng-click="isOpen = false" class="btn btn-primary">Next</button>

    <button type="button" ng-click="isOpen = false" class="btn btn-primary">Next</button>

    <button type="button" ng-click="isOpen = false" class="btn btn-primary btn-block">Next</button>

</div>