<div style="background-color: yellow; height: 1500px; width: 1000px" ng-show="authenticated">
    <div>
        <h2>Welcome {{spockName}}</h2>
    </div>

    <div class="middleWrapper">

        <div class="leftNav">
            <button type="button" ng-click="page = 'page1'">Dashboard</button>
            <br>
            <button type="button" ng-click="page = 'page2'">Manage Registration</button>
            <br>
            <button type="button" ng-click="page = 'page3'">Import</button>
            <br>
            <button type="button" ng-click="page = 'page4'">FAQ</button>
            <br>
            <button type="button" ng-click="page = 'page5'">Batch Assignment</button>
        </div>



        <div class="rightArea">
            <div ng-switch on="page">
                <div ng-switch-when="page1">
                    Page 1
                    <div ng-include src="'page1.html'"></div>
                </div>
                <div ng-switch-when="page2">
                    Page 2
                    <div ng-include src="'page2.html'"></div>
                </div>
                <div ng-switch-when="page3">
                    Page 3
                    <div ng-include src="'page3.html'"></div>
                </div>
                <div ng-switch-when="page4">
                    Page 4
                    <div ng-include src="'page4.html'"></div>
                </div>
                <div ng-switch-when="page5">
                    Page 5
                    <div ng-include src="'page5.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
