<div ng-show="authenticated" ng-model="loggingOut">
    <div class="middleWrapper">

        <div class="leftNav col-md-2">
            <div class="sideBtn" ng-click="page = 'page1'">Dashboard</div>
          
            <div class="sideBtn" ng-click="page = 'page2'">Manage Registration</div>
          
            <div class="sideBtn" ng-click="page = 'page3'">Import</div>
          
            <div class="sideBtn" ng-click="page = 'page4'">FAQ</div>
          
            <div class="sideBtn" ng-click="page = 'page5'">Batch Assignment</div>
        </div>



        <div class="rightArea col-md-10">
            <div ng-switch on="page">
                <div ng-switch-when="page1">

                    <div ng-include src="'page1.html'"></div>
                </div>
                <div ng-switch-when="page2">

                    <div ng-include src="'page2.html'"></div>
                </div>
                <div ng-switch-when="page3">

                    <div ng-include src="'page3.html'"></div>
                </div>
                <div ng-switch-when="page4">

                    <div ng-include src="'page4.html'"></div>
                </div>
                <div ng-switch-when="page5">

                    <div ng-include src="'page5.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>
