<div ng-controller="page5">
    <head>
        <link rel="stylesheet" href="/css/batchAssignment.css" type="text/css" />
    </head>

    <!-- MainWrap-EntireBatchAssignment -->
    <div class="mainWrap">

        <!-- BatchAssignment-Heading -->
        <h3 class="batchAssignment">Batch Assignment</h3>

        <!-- BatchAssignment-NonAssignedBatches -->
        <div class="nonAssignedBatchTableWrap">
            <div class="grid-heading-text">Non-Assigned Batch(es) <div class="responsesForBatchProposed">{{responseMessagesForBatchesProposed}}</div></div>
            
            <div>
                <div ui-grid="gridOptions" class="nonAssignedBatchesGrid"></div>
            </div>
        </div>


        <!--BatchAssignment-Search bar-->
        <div class="searchBatchWrap">
            <div>
                <div method="post" role="form" style="display: block;">
                    <label class="searchBatchId">Search Batch ID</label>
                    <input type="text" class="searchBox" placeholder="Enter Batch ID" required name='searchText' ng-model="batchAssignmentSearch"/>
                    <input type="button" class="searchButton"  value="Search" ng-click="getDataOfBatch()"/>
                    <div class="errorResponseForBatchNotFound">{{errorMessageForSearchBatchAssignment}}</div>
                    <div ui-grid="searchGridOptions" class="searchBatchGrid"></div>
                </div>
            </div>
        </div>
        <!-- BatchAssignment-Other Tables -->

        <!-- Proposed Batch(es) Table -->
        <div class="proposedWrap">
            <div class="grid-heading-text">Proposed Batch(es)<div class="responsesForBatchWithdrawn">{{responseMessageForBatchWithdrawForProposedBatches}}</div></div>
            <div>
                <div ui-grid="proposedBatchesBatchAssignmentGridOptions" class="proposedBatchesGrid"></div>
            </div>
        </div>

        <!-- Approved Batch(es) Table -->
        <div class="approvedWrap">
            <div class="grid-heading-text">Approved Batch(es)<div class="responsesForBatchApproved">{{responseMessageForBatchWithdrawForApprovedBatches}}</div></div>
            <div>
                <div ui-grid="approvedBatchesBatchAssignmentGridOptions" class="approvedBatchesGrid"></div>
            </div>
        </div>
        <div class="rejectedWrap">
            <div class="grid-heading-text">Rejected Batch(es)</div>
            <div>
                <div ui-grid="rejectedBatchesBatchAssignmentGridOptions" class="rejectedBatchesGrid"></div>
            </div>
        </div>

    </div>
</div>
