<head>
    <link rel="stylesheet" href="../css/dataImportHistory.css" type="text/css" />
</head>
<div ng-controller="page3">
    <div class="dataImport-container" ng-controller="page3">
        <h3 class="import">Import</h3>
        <div ng-include="'partials/dataImportCSV.html'"></div>
        <div class="historytable">
            <h4 class="title">Import History</h4>
            <div>
                <div ui-grid="dataImportHistory" ui-grid-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
            </div>
        </div>
        <div class="certificate">
            <form id="Search-Batch-ID" method="post" role="form" style="display: block;margin-bottom:.5em;">
                <label class="title">Search Batch ID</label>
                <input type="text" class="text" placeholder="Search..." required name='searchText' ng-model="dataImportBatchIdSearch"/>
                <input type="button" class="btn btn-primary btn-info" value="Search" ng-click="getDataOfBatch()">
            <div id="responseMessage">{{errorMessage}}</div>
            </form>
            
            <div>
                <div ui-grid="searchBatch" ui-grid-auto-resize ui-grid-cellNav class="grid1"></div>
            </div>
        </div>
        <div class="historytable">
            <h5 class="title">Certificate Upload History</h5>
            <div>
                <div ui-grid="certificateImportHistory" ui-grid-auto-resize ui-grid-cellNav class="grid "></div>
            </div>
        </div>
    </div>
</div>
