<head>
    <link rel="stylesheet" href="css/profileCreationTp.css">
</head>
<div ng-controller="profileCreationTp">

    <script type="text/ng-template">
        <div class="panel-heading">
            <h4 class="panel-title" style="background-color:aqua">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                  <span uib-accordion-header>
                    {{heading}}
                  </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </script>

    <style>
        .panel-heading{
            cursor : pointer;
        }
    </style>
    <!--{{trainingPartner.userId}}-->
    <div>
        <accordion close-others="true">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <div>
                        STEP 1: BASIC INFORMATION
                    </div>
                    <div>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                    </div>
                </accordion-heading>

                <div ng-repeat="x in trainingPartner.TrainingPartnerOrganizationDetails">
                    <div>
                        <div class="col-md-9">
                            <h2>{{x.organizationName}}</h2>
                        </div>
                        <div class="col-md-3">
                            <h2>{{x.sPOCName}}</h2>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="field">
                        <div class="col-md-6">UserId</div>
                        <input ng-model="x.trainingPartnerRegistrationId" readonly>
                        </div>

                        <div class="field">
                        <div class="col-md-6">City</div>
                        <input ng-model="x.city">
                        </div>

                        <div class="field">
                        <div class="col-md-6">State</div>
                        <input ng-model="x.state">
                        </div>

                        <div class="field">
                        <div class="col-md-6">Mobile Number</div>
                        <input ng-model="x.mobileNumber">
                        </div>

                        <div class="field">
                        <div class="col-md-6">Alternate Mobile Number</div>
                        <input ng-model="x.alternateMobileNumber">
                        </div>
                    </div>

                    <div class="col-md-6">

                        <div class="field">
                            <div class="col-md-6">Landline Number</div>
                            <input ng-model="x.landlineNumber">
                        </div>

                        <div class="field">
                        <div class="col-md-6">Alternate Landline Number</div>
                        <input ng-model="x.alternateLandlineNumber">
                        </div>

                        <div class="field">
                        <div class="col-md-6">Fax Number</div>
                        <input ng-model="x.faxNumber">
                        </div>

                        <div class="field">
                        <div class="col-md-6">Website</div>
                        <input ng-model="x.websites">
                        </div>
                    </div>


                    <div>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary next" ng-click="saveAccordionOne()">Next</button>
                        </div>
                    </div>

                </div>

            </accordion-group>

            <!--  ------------------------ACCORDION 2 ------------------  -->
            <accordion-group is-open="status.open2">
                <accordion-heading>
                    <div>
                        STEP 2 : ORGANIZATION DETAILS
                    </div>
                    <div>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open2, 'glyphicon-plus': !status.open2}"></i>
                    </div>
                </accordion-heading>
                <div class="col-centered" ng-repeat="x in trainingPartner.TrainingPartnerOrganizationDetails">
                    <!--accordion content to come here -->

                    <div class="field">
                        <div class="col-md-6"><b>Year of Establishment</b></div>
                        <input ng-model="x.yearOfEstablishment">
                    </div>

                    <div class="field">
                        <div class="col-md-6"><b>Medium of instruction</b></div>
                        <input ng-model="x.mediumOfInstructions">
                        <small class="fine-print">For multiple languages, use commas to separate them</small>
                    </div>

                    <div class="col-md-12 col-centered field">
                        <h3>Model of Institution</h3>
                        <div class="col-md-12">
                            Self Owned Institution <input ng-model="x.selfOwnedInstitution">

                            <div ng-show="x.selfOwnedInstitution > '0'">
                                <label class="upload-file">Upload File</label>
                                <input type="file">
                            </div>
                        </div>

                        <div class="col-md-12">
                            Franchise Owned Institution <input ng-model="x.franchiseOwnedInstitution">

                            <div ng-show="x.franchiseOwnedInstitution > '0'">
                                <label class="upload-file">Upload File</label>
                                <input type="file">
                            </div>
                        </div>

                        <!--<form>-->
                            <!--<div class="col-md-12">-->
                                <!--Mobile Owned Institution <input ng-model="x.mobileTrainingInstitution">-->

                                <!--<div ng-show="x.mobileTrainingInstitution > '0'">-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="file" accept=".pdf" class="file" file-model="uploadAnnexure">-->
                                        <!--<div class="input-group">-->
                                            <!--<input type="file" class="form-control" ng-model="mobileAnnexureFile" placeholder="Please upload a PDF file" required>-->
                                        <!--</div>-->
                                        <!--<div class="input-group-btn">-->
                                            <!--<button class="browse btn btn-primary input" type="button">Browse</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->

                    </div>


                    <div class="field">
                        <div class="col-md-6 "><b>PAN</b></div>
                        <input ng-model="x.panNumber" >
                    </div>


                    <div class="field">
                        <div class="col-md-6 "><b>TAN</b></div>
                        <input ng-model="x.tanNumber">

                    </div>

                    <div class="field">
                        <div class="col-md-6 "><b>Turnover of the institute</b></div>
                        <input ng-model="x.turnOverOfInstitution">

                    </div>

                    <div class="field">
                        <div class="col-md-6 "><h3>Does the institution received any grant?</h3></div>

                        <label class="radio-inline">
                            <input type="radio" ng-model="x.instituteReceivedAnyGrant" value="Yes"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="x.instituteReceivedAnyGrant" value="No" ng-click="removeAllGrant()" checked> No
                        </label>
                    </div>
                    <form ng-submit="addNewGrant()">
                        <div class="col-md-12" ng-show="x.instituteReceivedAnyGrant == 'Yes'">
                            <table>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="selectedAllGrant" ng-click="checkAllGrant()"></th>
                                        <th>Name of Ministry</th>
                                        <th>Nature of Work</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grants in trainingPartner.InstituteGrantDetails">
                                        <td><input type="checkbox" ng-model="grants.selected"></td>
                                        <td><input ng-model="grants.nameOfMinistry" class="form-control" required></td>
                                        <td><input ng-model="grants.natureOfWork" class="form-control" required></td>
                                        <td><input ng-model="grants.remarks" class="form-control" required></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <input ng-hide="!trainingPartner.InstituteGrantDetails.length" type="button" class="btn btn-danger" ng-click="removeGrant()" value="Remove">
                                <input type="submit" class="btn btn-primary addNewGrant" value="Add New">
                            </div>
                        </div>

                    </form>
                    <div class="field">
                        <div class="col-md-6 "><h3>Is the institute recognized with any bodies?</h3></div>
                        <label class="radio-inline">
                            <input type="radio" ng-model="x.instituteReceivedAnyRecognition" value="Yes"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="x.instituteReceivedAnyRecognition" value="No" ng-click="removeAllRecognition()" checked> No
                        </label>
                    </div>
                    <form ng-submit="addNewRecognition()">
                        <div class="col-md-12" ng-show="x.instituteReceivedAnyRecognition == 'Yes'">
                            <table>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="selectedAllRecognition" ng-click="checkAllRecognition()"></th>
                                        <th>Name of Recognizing body</th>
                                        <th>Recognition Number</th>
                                        <th>Validity of Recognition</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="recognition in trainingPartner.InstituteRecognitionDetails">
                                        <td><input type="checkbox" ng-model="recognition.selected"></td>
                                        <td><input ng-model="recognition.nameOfRecognizingBody" class="form-control" required></td>
                                        <td><input ng-model="recognition.recognitionNumber" class="form-control" required></td>
                                        <td><input ng-model="recognition.validityOfRecognition" class="form-control" required></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group">
                                <input ng-hide="!trainingPartner.InstituteRecognitionDetails.length" type="button" class="btn btn-danger" ng-click="removeRecognition()" value="Remove">
                                <input type="submit" class="btn btn-primary addNewRecognition" value="Add New">
                            </div>
                        </div>
                    </form>






                    <div class="field">
                        <div class="col-md-6 "><b>Does the institute have any prior experience in skill development?</b></div>
                        <input ng-model="x.instituteReceivedAnyRecognition">
                    </div>




                    <div class="field">
                        <div class="col-md-6 "><h3>Prior experience of institution in skill training(Related to QP)?</h3></div>
                        <label class="radio-inline">
                            <input type="radio" ng-model="x.anyPriorExperienceOfInstitutionInSkillTraining" value="Yes"> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="x.anyPriorExperienceOfInstitutionInSkillTraining" value="No" ng-click="removeAll()" checked> No
                        </label>
                    </div>

                    <form ng-submit="addNew()">
                        <div class="col-md-12" ng-show="x.anyPriorExperienceOfInstitutionInSkillTraining == 'Yes'">
                            <table>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()"></th>
                                        <th>Name of Course</th>
                                        <th>Number of Batches per year</th>
                                        <th>Number of Students in each Batch</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="experience in trainingPartner.PriorExperienceDetails">
                                    <td><input type="checkbox" ng-model="experience.selected"></td>
                                    <td><input ng-model="experience.courseName" class="form-control" required></td>
                                    <td><input ng-model="experience.numberOfBatchesPerYear" class="form-control" required></td>
                                    <td><input ng-model="experience.numberOfStudentsInEachBatch" class="form-control" required></td>
                                </tr>
                                </tbody>

                            </table>
                            <div class="form-group">
                                <input ng-hide="!trainingPartner.PriorExperienceDetails.length" type="button" class="btn btn-danger" ng-click="remove()" value="Remove">
                                <input type="submit" class="btn btn-primary addNew" value="Add New">
                            </div>
                        </div>
                    </form>



                    <div class="field">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary next" ng-click="saveAccordionOne()">Next</button>
                        </div>
                    </div>


                </div>

            </accordion-group>

            <!--  ------------------------ACCORDION 3 ------------------  -->
            <accordion-group is-open="status.open3">
                <accordion-heading>

                    <div>
                        STEP 3 : MANAGEMENT STAFF DETAILS
                    </div>
                    <div>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open3, 'glyphicon-plus': !status.open3}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <!--                 accordion content to come here -->
                </div>
            </accordion-group>
            <!--  ------------------------ACCORDION 3 ------------------  -->
            <accordion-group is-open="status.open4">
                <accordion-heading>
                    <div>
                        STEP 4 : TRAINING STAFF DETAILS
                    </div>
                    <div>
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open4, 'glyphicon-plus': !status.open4}"></i>
                    </div>
                </accordion-heading>
                <div>
                    <!--                 accordion content to come here -->
                </div>
            </accordion-group>
        </accordion>
        <!--  ------------------------ACCORDION ENDS HERE ------------------  -->
        <div>
            <button type="button" ng-click="save('save')" class="btn btn-warning">Save as Draft</button>
            <button type="submit" ng-click="submit()" class="btn btn-success">Submit</button>
        </div>
    </div>
    <!--     <uib-accordion> -->
    <!--         <div uib-accordion-group class="panel-default" heading="Institution Level - Basic information"> -->
    <!--             <div ng-include src="'accordion1.html'"></div> -->
    <!--         </div> -->

    <!--         <div uib-accordion-group class="panel-default" heading="Institution Level - Organization details">
    <!--             <div ng-include src="'accordion2.html'"></div> -->
    <!--         </div> -->
    <!--  -->
    <!--   <!--       <div uib-accordion-group class="panel-default" heading="Institution Level - Personnel details"> -->
    <!--             <div ng-include src="'accordion3.html'"></div> -->
    <!--         </div> -->

    <!--         <div uib-accordion-group class="panel-default" heading="Centre Level - Information"> -->
    <!--             <div ng-include src="'accordion4.html'"></div> -->
    <!--         </div> -->

    <!--     </uib-accordion> -->


</div>