
<div ng-controller="profileCreationTp">

    <script type="text/ng-template">
        <div class="panel-heading">
            <h4 class="panel-title" style="background-color:aqua">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                  <span uib-accordion-header>
                    {{heading}}
                  </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </script>


    {{trainingPartner.userId}}
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Institution Level - Basic information">
            <div ng-include src="'accordion1.html'"></div>
        </div>

        <!-- <div uib-accordion-group class="panel-default" heading="Institution Level - Organization details">
            <div ng-include src="'accordion2.html'"></div>
        </div>
 -->
  <!--       <div uib-accordion-group class="panel-default" heading="Institution Level - Personnel details">
            <div ng-include src="'accordion3.html'"></div>
        </div>

        <div uib-accordion-group class="panel-default" heading="Centre Level - Information">
            <div ng-include src="'accordion4.html'"></div>
        </div> -->

    </uib-accordion>

    <button type="button" ng-click="save('save')" class="btn btn-warning">Save as Draft</button>
    <button type="submit" ng-click="submit()" class="btn btn-success">Submit</button>
</div>