<head>
    <link rel="stylesheet" href="css/profileCreationAb.css">
</head>
<form id="profileCreationAssessmentBody" name="profileCreationAssessmentBody" ng-submit="profileCreationAssessmentBody.$valid && submit()"  ng-controller="profileCreationAb">
<div >
    <script type="text/ng-template">
        <div class="panel-heading">
            <h4 class="panel-title" style="background-color:aqua">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
               <span uib-accordion-header>
                 {{heading}}
               </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </script>
    <style>
      .panel-heading{
      cursor : pointer;
      }
   </style>

    <div class="container row-welcome-banner">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text">
                    <h3><b>{{assessmentBody.AssessmentBodyRegistrationDetails.organizationName}}</b></h3>
                </div>
                <div class="welcome-desc">
                    Please fill out the following application form in order to apply as a Assessment Body
                </div>
            </div>
        </div>
    </div>

    <div>
        <accordion close-others="true">
            <!--  ------------------------ACCORDION 1------------------  -->
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 1 : BASIC INFORMATION
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div class="container">
                    <div>

                        <div class="row">
                            <div class="col-md-3">
                                <h2>{{assessmentBody.AssessmentBodyRegistrationDetails.sPOCName}}</h2>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <h2></h2>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="row row-margin">
                                    <div class="col-md-4"><label>UserId</label></div>
                                    <div class="col-md-8">
                                        <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.assessmentBodyRegistrationId" readonly class="form-control"/>
                                    </div>
                                </div>
                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Address</label></div>
                                    <div class="col-md-8">
                                        <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.address" class="form-control" />
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>City</label></div>
                                    <div class="col-md-8">
                                        <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.city" class="form-control" ng-required="true"/>
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>State</label></div>
                                    <div class="col-md-8">
                                    <select ng-model="assessmentBody.AssessmentBodyRegistrationDetails.state"  ng-options="state for state in states"  class="form-control" ng-required="true">{{state}}</select>
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Mobile Number</label></div>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.mobileNumber" class="form-control" ng-required="true"/>
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Alternate Mobile Number</label></div>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.alternateMobileNumber" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Landline Number</label></div>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.landlineNumber" class="form-control" ng-required="true">
                                    </div>
                                </div>
                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Pincode</label></div>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.pincode" class="form-control">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Alternate Landline Number</label></div>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.alternateLandlineNumber" class="form-control">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Fax Number</label></div>
                                    <div class="col-md-8">
                                        <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.faxNumber" class="form-control" ng-required="true">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4"><label>Website</label></div>
                                    <div class="col-md-8">
                                        <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.websites" class="form-control" ng-required="true">
                                    </div>
                                </div>
                            </div>
                        </div>
<div style=" color : {{successTextColor}}; margin: 10px ">
                {{successText}}
                <div ng-show="rolling">
                    <img src="gif/Facebook.gif"/>
                    {{generating}}
                </div>
            </div>
                        <div class="row row-margin">
                            <div class="col-md-offset-10 col-md-2">
                                <button type="button" class="btn btn-pc-next" ng-click="save()">Save</button>
                            </div>
                        </div>

                    </div>
                </div>

            </accordion-group>
            <!--  ------------------------ACCORDION 2------------------  -->
            <accordion-group is-open="status.open2">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 2 : AGENCY DETAILS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open2, 'glyphicon-plus': !status.open2}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div class="col-centered">
                    <!--                 accordion content to come here -->
                    <div class="container">

                        <div class="row row-margin">
                            <div class="col-md-4"><label>Year of Establishment</label></div>
                            <div class="col-md-8">
                                <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.yearOfEstablishment" class="form-control" ng-required="true">
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4"><label>Assessment experience in any technical domain or renewable energy</label></div>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="priorAssessmentExperience" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.priorAssessmentExperience" value="Yes" ng-click="addNewExperience()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="priorAssessmentExperience" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.priorAssessmentExperience" value="No" ng-click="removeAllExperience()" checked ng-required="true"> No
                                </label>
                            </div>
                            
                                <div ng-show="assessmentBody.AssessmentBodyRegistrationDetails.priorAssessmentExperience.length >'0'" class="col-md-12">
                                    <table class="ab-table">
                                        <tbody>
                                        <tr ng-repeat="experience in assessmentBody.AssessmentsExperienceInTechnicalDomain">
                                            <td><input ng-model="experience.domain" class="form-control" placeholder="Domain/Sector" required /></td>
                                            <td><input type="number" ng-model="experience.numberOfAssessmentsDone" placeholder = "No. of Assessments" class="form-control" required/></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="experience.selected" /></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!assessmentBody.AssessmentsExperienceInTechnicalDomain.length" type="button" class="btn btn-danger" ng-click="removeExperience()" value="Remove Selected">
                                        <input ng-show = "assessmentBody.AssessmentsExperienceInTechnicalDomain.length > '0' " type="button" class="btn btn-primary addNewExperience" value="Add New" ng-click="addNewExperience()" />
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row row-margin">
                            <div class="col-md-4"><label>PAN</label></div>
                            <div class="col-md-8">
                                <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.panNumber" required class="form-control" ng-required="true">
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4"><label>TAN</label></div>
                            <div class="col-md-8">
                                <input ng-model="assessmentBody.AssessmentBodyRegistrationDetails.tanNumber" required class="form-control" ng-required="true">
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4"><label>Recognized with any Govt./Pvt. Agency</label></div>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="insituteReceivedAnyRecognition" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.insituteReceivedAnyRecognition" value="Yes" ng-click="addNewRecognition()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="insituteReceivedAnyRecognition" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.insituteReceivedAnyRecognition" value="No" ng-click="removeAllRecognition()"checked ng-required="true"> No
                                </label>
                            </div>
                            
                                <div ng-show="assessmentBody.AssessmentBodyRegistrationDetails.insituteReceivedAnyRecognition == 'Yes'" class="col-md-12">
                                    <table class="ab-table">
                                        <tbody>
                                        <tr ng-repeat="recognition in assessmentBody.AssessmentBodyRecognitions">
                                            <td><input ng-model = "recognition.nameOfRecognitionBody" placeholder="Name of Recognising body" class="form-control" required></td>
                                            <td><input ng-model = "recognition.recognitionNumber" placeholder="Recognition no." class="form-control" required></td>
                                            <td><input ng-model = "recognition.yearOfRecognition" placeholder="Year of Recognition" class="form-control" required></td>
                                            <td><input ng-model = "recognition.validityOfRecognition" placeholder = "Validity of Recognition" class="form-control" required></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="recognition.selected"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!assessmentBody.AssessmentBodyRecognitions.length" type="button" class="btn btn-danger" ng-click="removeRecognition()" value="Remove Selected">
                                        <input type="button" class="btn btn-primary addNewRecognition" value="Add New" ng-click="addNewRecognition()">
                                    </div>
                                </div>
                            
                        </div>
                        <div class="row row-margin">
                            <div class="col-md-4"><label>Whether affiliated with any Sector Skill Council</label></div>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" name="affiliation" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.affiliatedToAnySectorSkillCouncil" value="Yes" ng-click="addNewAffiliation()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="affiliation" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.affiliatedToAnySectorSkillCouncil" value="No" ng-click="removeAllAffiliation()" checked ng-required="true"> No
                                </label>
                            </div>
                            
                                <div ng-show="assessmentBody.AssessmentBodyRegistrationDetails.affiliatedToAnySectorSkillCouncil == 'Yes'" class="col-md-12">
                                    <table class="ab-table">
                                        <tbody>
                                        <tr ng-repeat="affiliation in assessmentBody.AssessmentBodyAffiliationDetails">

                                            <td><input ng-model="affiliation.nameOfSectorSkillCouncil" placeholder="Name of SSC" class="form-control" required></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="affiliation.selected"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!assessmentBody.AssessmentBodyAffiliationDetails.length" type="button" class="btn btn-danger" ng-click="removeAffiliation()" value="Remove Selected">
                                        <input type="button" class="btn btn-primary" value="Add New" ng-click="addNewAffiliation()">
                                    </div>
                                </div>
                            
                        </div>
                        <div style=" color : {{successTextColor}}; margin: 10px ">
                {{successText}}
                <div ng-show="rolling">
                    <img src="gif/Facebook.gif"/>
                    {{generating}}
                </div>
            </div>
                        <!-- Next button -->
                        <div class="form-horizontal col-md-offset-10 col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-pc-next" ng-click="save()" >Save</button>
                            </div>
                        </div>
                    </div>

                </div>
            </accordion-group>
            <!--  ------------------------ACCORDION 3------------------  -->
            <accordion-group is-open="status.open3">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 3 : ORGANISATION DETAILS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open3, 'glyphicon-plus': !status.open3}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div class="container">
                    <!--                 accordion content to come here -->
                    <div class="row row-margin">
                        <div class="row row-margin"><label>Details of directors and management team members</label></div>
                        <div class="row row-margin">
                            <div class="form-group">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="directors in assessmentBody.AssessmentBodyDirectorsAndManagementTeamDetails">
                                            <td><input ng-model="directors.name" class="form-control" placeholder="Name" required /></td>
                                            <td><input ng-model="directors.designation" class="form-control" placeholder="Designation" required /></td>
                                            <td><input type="number" ng-model="directors.contactNumber" class="form-control" placeholder="Contact Number" required /></td>
                                            <td><input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"   ng-model="directors.emailId" class="form-control" placeholder="Email Id" required /></td>
                                            <td><input ng-model="directors.educationalQualification" placeholder="Educational Qualification" class="form-control" required /></td>
                                            <td><input ng-model="directors.experience" class="form-control" placeholder="Experience" required /></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="directors.selected"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="form-group add-btn">
                                    <input ng-hide="!assessmentBody.AssessmentBodyDirectorsAndManagementTeamDetails.length" type="button" class="btn btn-danger" ng-click="removeDirectors()" value="Remove Selected">
                                    <input type="button" class="btn btn-primary addNewDirectors" value="Add New" ng-click="addNewDirectors()">
                                </div>
                            
                        </div>
                    </div>
                                <div style=" color : {{successTextColor}}; margin: 10px ">
                {{successText}}
                <div ng-show="rolling">
                    <img src="gif/Facebook.gif"/>
                    {{generating}}
                </div>
            </div>
                    <div class="form-horizontal col-md-offset-10 col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-pc-next" ng-click="save()" >Save</button>
                            </div>
                        </div>
                </div>
            </accordion-group>
            <!--  ------------------------ACCORDION 4------------------  -->
            <accordion-group is-open="status.open4">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 4 : ASSESSMENT STAFF DETAILS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open4, 'glyphicon-plus': !status.open4}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div class="container">
                    <!--                 accordion content to come here -->
                    <div class="row">
                        <label>Number of Assessors</label>

                        <div class="row form-group">
                            <div class="col-md-4">Technical Sector</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.numberOfTechnicalAssessors" ng-required="true" class="form-control">
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-4">Non-Technical Sector</div>
                            <div class="col-md-8">
                                <input type="number" ng-model="assessmentBody.AssessmentBodyRegistrationDetails.numberOfNonTechnicalAssessors" ng-required="true" class="form-control">
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="row row-margin"><label>SCGJ Certified Assessors</label></div>
                        <div class="row row-margin">
                            
                                <table>
                                    <tbody>
                                    <tr ng-repeat="assessor in assessmentBody.AssessmentStaffDetails">

                                        <td><input ng-model="assessor.name" class="form-control" placeholder ="Name" required /></td>
                                        <td><input ng-model="assessor.jobRoleCode" placeholder ="Job Role Code" class="form-control" required></td>
                                        <td><input ng-model="assessor.designation" placeholder ="Designation" class="form-control" required></td>
                                        <td><input type="number" ng-model="assessor.contactNumber" placeholder ="Contact no." class="form-control" required></td>
                                        <td><input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"   ng-model="assessor.emailId" placeholder ="Email Id" class="form-control" required></td>
                                        <td><input ng-model="assessor.state" placeholder ="State" class="form-control" required></td>
                                        <td><input ng-model="assessor.city" placeholder ="City" class="form-control" required></td>
                                        <td><input ng-model="assessor.educationalQualification" placeholder ="Educational Qualification" class="form-control" required></td>
                                        <td><input ng-model="assessor.experience" placeholder ="Experience" class="form-control" required></td>
                                        <td class="btn-checkbox"><input type="checkbox" ng-model="assessor.selected"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group add-btn">
                                    <input ng-hide="!assessmentBody.AssessmentStaffDetails.length" type="button" class="btn btn-danger" ng-click="removeAssessor()" value="Remove Selected">
                                    <input type="button" class="btn btn-primary addNewAssessor" value="Add New" ng-click="addNewAssessor()">
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row row-margin"><label>Regional Office Details</label></div>
                        <div class="row row-margin">
                                <table>
                                    <tbody>
                                    <tr ng-repeat="office in assessmentBody.AssessmentBodyRegionalOfficeDetails">

                                        <td><input ng-model="office.address" placeholder ="Address" class="form-control" required></td>
                                        <td><input ng-model="office.state" placeholder ="State" class="form-control" required></td>
                                        <td><input ng-model="office.pincode" placeholder ="Pincode" class="form-control" required></td>
                                        <td><input type="number" ng-model="office.contactNumber" placeholder ="Contact No." class="form-control" required></td>
                                        <td><input type="number" ng-model="office.alternateContactNumber" placeholder ="Alternate Contact no." class="form-control" required></td>
                                        <td class="btn-checkbox"><input type="checkbox" ng-model="office.selected"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group add-btn">
                                    <input ng-hide="!assessmentBody.AssessmentBodyRegionalOfficeDetails.length" type="button" class="btn btn-danger" ng-click="removeOffice()" value="Remove Selected">
                                    <input type="button" class="btn btn-primary addNewOffice" value="Add New" ng-click="addNewOffice()">
                                </div>
                        </div>
                    </div>
                                <div style=" color : {{successTextColor}}; margin: 10px ">
                {{successText}}
                <div ng-show="rolling">
                    <img src="gif/Facebook.gif"/>
                    {{generating}}
                </div>
            </div>
                    <div class="form-horizontal  col-md-offset-10 col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-pc-next" ng-click="save()" >Save</button>
                            </div>
                        </div>
                </div>
            </accordion-group>
            <accordion-group is-open="status.open5">
            <accordion-heading>
            <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 5 : UPLOAD DOCUMENTS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open3, 'glyphicon-plus': !status.open3}"></i>
                            </div>
                        </div>
                    </div>
            </accordion-heading>
            <div>
            
                  <div class="upload-btn">
                 <div class="form-horizontal">
                 <div class="form-group">                   
                      	 <div class="col-md-4"><label>Pan Card</label></div>                      	 
                     
	                     <div class="col-md-6">
	                     	<input id = "pan" type="file" file-model="assessmentBody.pan" accept="application/pdf" />
	                     </div>
                     	<div class="col-md-2">
                     		<button ng-click="uploadFilePan()" class="btn btn-pc-upload">Upload PAN</button>
                     	</div>
                    

                        </div>
                 </div>
                             </div>
                  
                  <div class="upload-btn">
                 <div class="form-horizontal">
                 <div class="form-group">                   
                      	 <div class="col-md-4"><label>Tan</label></div>                      	 
                     
	                     <div class="col-md-6">
	                     	<input id = "tan" type="file" file-model="assessmentBody.tan" accept="application/pdf" />
	                     </div>
                     	<div class="col-md-2">
                     		<button ng-click="uploadFileTan()" class="btn btn-pc-upload">Upload TAN</button>
                     	</div>
                    

                        </div>
                 </div>
                 </div>
                </form>
                <!-- Management staff CV -->
                <div class="form-horizontal">
                	<div class="form-group">
                		<div class="col-md-5"><label>Upload zip file of Managment staff's CV</label></div>
                		<div class="col-md-5"><input type="file" file-model="assessmentBody.ManagementResume" accept="application/zip"/></div>
                		<div class="col-md-2"><button ng-click="uploadCvMgmt()" class="btn btn-pc-upload">Upload CV</button></div>
                	</div>
                </div>
                <!-- Assessment staff CV -->
                <div class="form-horizontal">
                	<div class="form-group">
                		<div class="col-md-5"><label>Upload zip file of Assessors' CV</label></div>
                		<div class="col-md-5"><input type="file" file-model="assessmentBody.AssessmentResume" accept="application/zip"/></div>
                		<div class="col-md-2"><button ng-click="uploadCvAssessor()" class="btn btn-pc-upload">Upload CV</button></div>
                	</div>
                </div>
                <!-- Assessment staff Certificate -->
                            
                <div class="form-horizontal">
                	<div class="form-group">
                		<div class="col-md-5"><label>Upload zip file of Assessment staff's education qualification dertificate</label></div>
                		<div class="col-md-5"><input type="file" file-model="assessmentBody.AssessmentStaffCertificate" accept="application/zip"/></div>
                		<div class="col-md-2"><button ng-click="uploadAssessmentStaffCertificate()" class="btn btn-pc-upload">Upload CV</button></div>
                	</div>
                </div>
               

            </div>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 6: UNDERTAKING
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open6, 'glyphicon-plus': !status.open6}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div>
                <div class="upload-button div-center">
                <div>
                <div class="form-horizontal">
                <div class="col-md-12"><label>Letter of Declaration</label></div>
                <div class="form-group">
                	<div class="col-md-6"><small class="fine-print">Please download format of annexure <a href="/Annexures/AssessmentBody/Assessment_Body_Undertaking.docx" target="_blank" class="here-txt">here</a> and upload after signing in pdf format</small></div>
                	<div class="col-md-4"><input type="file" file-model="assessmentbody.UndertakingDoc" accept="application/pdf"/></div>
                	<div class="col-md-2"><button ng-click="uploadUndertakingAB()" class="btn btn-pc-upload">Upload</button></div>
                </div>
                <div>
                </div>
                </div>              	
               	</div>
                </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div style=" color : {{successTextColor}}; margin: 10px ">
                {{successText}}
                <div ng-show="rolling">
                    <img src="gif/Facebook.gif"/>
                    {{generating}}
                </div>
            </div>
    <div class="form-horizontal">
    <div class="form-group">
    <div class="col-md-2  col-md-offset-8">
    	<button type="button" ng-click="save()" class="btn btn-pc-draft">Save as Draft</button>
    </div>
    <div class="col-md-2">
    	<input type="submit" ng-click="submit()" class="btn btn-pc-sumbit"  value="Submit" name="Submit"/>
    </div>
    </div>
    
    </div>
    
</div>
</form>