<head>
    <link rel="stylesheet" href="css/profileCreationTp.css">
</head>
<div ng-controller="profileCreationTp">
    <script type="text/ng-template">
        <div class="panel-heading panel-top">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                  <span uib-accordion-header>
                    {{heading}}
                  </span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </script>

    <div class="container row-welcome-banner">
        <div class="row">
            <div class="col-md-12">
                <div class="welcome-text">
                    <h3>Welcome <b>{{spockName}}</b></h3>
                </div>
                <div class="welcome-desc">
                    Please fill out the following application form in order to apply as a Training Partner
                </div>
            </div>
        </div>
    </div>

    <div>
        <accordion close-others="true">
            <accordion-group is-open="status.open">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 1: BASIC INFORMATION
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open, 'glyphicon-plus': !status.open}"></i>
                            </div>
                        </div>
                    </div>


                </accordion-heading>

                <div class="container">
                    <div>

                        <div class="row">
                            <div class="col-md-3">
                                <h3>{{trainingPartner.TrainingPartnerOrganizationDetails.organizationName}}</h3>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                                <h3>{{trainingPartner.TrainingPartnerOrganizationDetails.sPOCName}}</h3>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="row row-margin">
                                    <div class="col-md-4">UserId</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.trainingPartnerRegistrationId" readonly>
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">City</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.city">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">State</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.state">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">Mobile Number</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.mobileNumber">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">Alternate Mobile Number</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.alternateMobileNumber">
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="row row-margin">
                                    <div class="col-md-4">Landline Number</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.landlineNumber">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">Alternate Landline Number</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.alternateLandlineNumber">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">Fax Number</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.faxNumber">
                                    </div>
                                </div>

                                <div class="row row-margin">
                                    <div class="col-md-4">Website</div>
                                    <div class="col-md-8">
                                        <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.websites">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary next" ng-click="saveAccordionOne()">Next</button>
                            </div>
                        </div>

                    </div>
                </div>


            </accordion-group>

            <!--  ------------------------ACCORDION 2 ------------------  -->
            <accordion-group is-open="status.open2">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 2 : ORGANIZATION DETAILS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open2, 'glyphicon-plus': !status.open2}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div class="container">
                    <div>
                        <!--accordion content to come here -->

                        <div class="row row-margin">
                            <div class="col-md-4">Year of Establishment</div>
                            <div class="col-md-8">
                                <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.yearOfEstablishment">
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4">Medium of instruction</div>
                            <div class="col-md-8">
                                <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.mediumOfInstructions">
                                <small class="fine-print">For multiple languages, use commas to separate them</small>
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-12">
                                Model of Institution
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4">
                                Self Owned Institution
                            </div>
                            <div class="col-md-8">
                                <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.selfOwnedInstitution">

                                <div ng-show="trainingPartner.TrainingPartnerOrganizationDetails.selfOwnedInstitution > '0'" class="upload-btn">
                                    Upload File
                                    <input type="file">
                                </div>
                            </div>

                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4">
                                Franchise Owned Institution
                            </div>
                            <div class="col-md-8">
                                <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.franchiseOwnedInstitution">

                                <div ng-show="trainingPartner.TrainingPartnerOrganizationDetails.franchiseOwnedInstitution > '0'" class="upload-btn">
                                    Upload File
                                    <input type="file">
                                </div>
                            </div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4">
                                Mobile Owned Institution
                            </div>
                            <div class="col-md-8">
                                <input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.mobileTrainingInstitution">
                                
                            </div>
                        </div>


                        <div class="row row-margin">
                            <div class="col-md-4">PAN</div>
                            <div class="col-md-8"><input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.panNumber"></div>
                        </div>


                        <div class="row row-margin">
                            <div class="col-md-4">TAN</div>
                            <div class="col-md-8"><input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.tanNumber"></div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4">Turnover of the institute</div>
                            <div class="col-md-8"><input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.turnOverOfInstitution"></div>
                        </div>

                        <div class="row row-margin">
                            <div class="col-md-4">Does the institution received any grant?</div>

                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="trainingPartner.TrainingPartnerOrganizationDetails.instituteReceivedAnyGrant" value="Yes" ng-click="addNewGrant()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="trainingPartner.TrainingPartnerOrganizationDetails.instituteReceivedAnyGrant" value="No" ng-click="removeAllGrant()" checked> No
                                </label>
                            </div>
                            <form ng-submit="addNewGrant()" class="col-md-8 col-md-offset-4 table-top">
                                <div ng-show="trainingPartner.TrainingPartnerOrganizationDetails.instituteReceivedAnyGrant == 'Yes'">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name of Ministry</th>
                                            <th>Nature of Work</th>
                                            <th>Remarks</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="grants in trainingPartner.InstituteGrantDetails">

                                            <td><input ng-model="grants.nameOfMinistry" class="form-control" required></td>
                                            <td><input ng-model="grants.natureOfWork" class="form-control" required></td>
                                            <td><input ng-model="grants.remarks" class="form-control" required></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="grants.selected"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!trainingPartner.InstituteGrantDetails.length" type="button" class="btn btn-danger" ng-click="removeGrant()" value="Remove Selected">
                                        <input type="submit" class="btn btn-primary addNewGrant" value="Add New">
                                    </div>
                                </div>
                            </form>
                        </div>



                        <div class="row row-margin">
                            <div class="col-md-4">Is the institute recognized with any bodies?</div>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="trainingPartner.TrainingPartnerOrganizationDetails.instituteReceivedAnyRecognition" value="Yes" ng-click="addNewRecognition()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="trainingPartner.TrainingPartnerOrganizationDetails.instituteReceivedAnyRecognition" value="No" ng-click="removeAllRecognition()" checked> No
                                </label>
                            </div>
                            <form ng-submit="addNewRecognition()" class="col-md-8 col-md-offset-4 table-top">
                                <div ng-show="trainingPartner.TrainingPartnerOrganizationDetails.instituteReceivedAnyRecognition == 'Yes'">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name of Recognizing body</th>
                                            <th>Recognition Number</th>
                                            <th>Validity of Recognition</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="recognition in trainingPartner.InstituteRecognitionDetails">

                                            <td><input ng-model="recognition.nameOfRecognizingBody" class="form-control" required></td>
                                            <td><input ng-model="recognition.recognitionNumber" class="form-control" required></td>
                                            <td><input ng-model="recognition.validityOfRecognition" class="form-control" required></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="recognition.selected"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!trainingPartner.InstituteRecognitionDetails.length" type="button" class="btn btn-danger" ng-click="removeRecognition()" value="Remove Selected">
                                        <input type="submit" class="btn btn-primary addNewRecognition" value="Add New">
                                    </div>
                                </div>
                            </form>
                        </div>



                        <div class="row row-margin">
                            <div class="col-md-4">Does the institute have any prior experience in skill development?</div>
                            <div class="col-md-8"><input ng-model="trainingPartner.TrainingPartnerOrganizationDetails.priorExperienceOfInstitutionInSkillDevelopment"></div>
                        </div>


                        <div class="row row-margin">
                            <div class="col-md-4">Prior experience of institution in skill training(Related to QP)?</div>
                            <div class="col-md-8">
                                <label class="radio-inline">
                                    <input type="radio" ng-model="trainingPartner.TrainingPartnerOrganizationDetails.anyPriorExperienceOfInstitutionInSkillTraining" value="Yes" ng-click="addNew()"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="trainingPartner.TrainingPartnerOrganizationDetails.anyPriorExperienceOfInstitutionInSkillTraining" value="No" ng-click="removeAll()" checked> No
                                </label>
                            </div>
                            <form ng-submit="addNew()" class="col-md-8 col-md-offset-4 table-top">
                                <div ng-show="trainingPartner.TrainingPartnerOrganizationDetails.anyPriorExperienceOfInstitutionInSkillTraining == 'Yes'">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name of Course</th>
                                            <th>Number of Batches per year</th>
                                            <th>Number of Students in each Batch</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="experience in trainingPartner.PriorExperienceDetails">
                                            <td><input ng-model="experience.courseName" class="form-control" required></td>
                                            <td><input ng-model="experience.numberOfBatchesPerYear" class="form-control" required></td>
                                            <td><input ng-model="experience.numberOfStudentsInEachBatch" class="form-control" required></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="experience.selected"></td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!trainingPartner.PriorExperienceDetails.length" type="button" class="btn btn-danger" ng-click="remove()" value="Remove Selected">
                                        <input type="submit" class="btn btn-primary addNew" value="Add New">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row row-margin">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-primary next" ng-click="saveAccordionOne()">Next</button>
                            </div>
                        </div>


                    </div>
                </div>


            </accordion-group>

            <!--  ------------------------ACCORDION 3 ------------------  -->
            <accordion-group is-open="status.open3">
                <accordion-heading>

                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 3 : MANAGEMENT STAFF DETAILS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open3, 'glyphicon-plus': !status.open3}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div>
                    <div class="row-margin">
                     <div class="col-md-6">Details of Directors and Management Team Members</div>
                    
                    <div class="col-md-12" ng-show="trainingPartner.ManagementAndStaffAndOfficialDetails.length > '0' ">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Designation</th>
                                            <th>Email Id</th>
                                            <th>Contact Number</th>
                                            <th>Educational Qualification</th>
                                            <th>Experience</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="managementStaff in trainingPartner.ManagementAndStaffAndOfficialDetails">
                                            <td><input ng-model="managementStaff.name" class="form-control" required></td>
                                            <td><input ng-model="managementStaff.designation" class="form-control" required></td>
                                            <td><input ng-model="managementStaff.emailId" class="form-control" required></td>
                                            <td><input ng-model="managementStaff.contactNumber" class="form-control" required></td>                                            
                                            <td><input ng-model="managementStaff.educationalQualification" class="form-control" required></td>
                                            <td><select ng-model="managementStaff.types" ng-options ="x for x in type" class="form-control" ></select></td>
                                            <td class="btn-checkbox"><input type="checkbox" ng-model="type.selected"></td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <div class="form-group add-btn">
                                        <input ng-hide="!trainingPartner.ManagementAndStaffAndOfficialDetails.length" type="button" class="btn btn-danger" ng-click="remove()" value="Remove Selected">
                                        <input type="submit" class="btn btn-primary addNew" value="Add New">
                                    </div>
                                </div>
                    </div>
                </div>
            </accordion-group>
            <!--  ------------------------ACCORDION 4 ------------------  -->
            <accordion-group is-open="status.open4">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 4 : TRAINING STAFF DETAILS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open4, 'glyphicon-plus': !status.open4}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div>
                    <!--                 accordion content to come here -->
                </div>
            </accordion-group>
            
            <!-- ---------------------------ACCORDION 5 ------------------- -->
            <accordion-group is-open="status.open5">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 5 : DOCUMENTS UPLOADS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open5, 'glyphicon-plus': !status.open5}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div>
                <!--                 accordion content to come here -->
                <form>
                  <div class="upload-btn">
                      <div class="form-group">
                           <input id = "attachments" type="file" file-model="trainingPartner.TrainingPartnerOrganizationDetails.mobileTrainingInstitutionAnnexurePath"
                                       onchange="angular.element(this).scope().previewAttachments(event)" multiple accept="application/pdf">
                                      <button ng-click="uploadFile()" class="btn btn-success">Upload Files</button>
                                       <ul>
                                           <h4>Uploaded Files</h4>
                                               <li class="attachment-list" ng-repeat="attachment in attachments">
                                                  {{attachment}}
                                               </li>
                                        </ul>
                        </div>
                                    </div>
                                </form>
                
                    
                </div>
            </accordion-group>
            
            
            <!-- ----------------ACCORDION 6-------------- -->
            <accordion-group is-open="status.open5">
                <accordion-heading>
                    <div class="container acc-heading">
                        <div class="row">
                            <div class="col-md-11">
                                STEP 6 : ANNEXURE UPLOADS
                            </div>
                            <div class="col-md-1">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-minus': status.open5, 'glyphicon-plus': !status.open5}"></i>
                            </div>
                        </div>
                    </div>
                </accordion-heading>
                <div>
                <!--                 accordion content to come here -->
                <form>
                  <div class="upload-btn">
                      <div class="form-group">
                           <input id = "attachments" type="file" file-model="trainingPartner.TrainingPartnerOrganizationDetails.mobileTrainingInstitutionAnnexurePath"
                                       onchange="angular.element(this).scope().previewAttachments(event)" multiple accept="application/pdf">
                                      <button ng-click="uploadFile()" class="btn btn-success">Upload Files</button>
                                       <ul>
                                           <h4>Uploaded Files</h4>
                                               <li class="attachment-list" ng-repeat="attachment in attachments">
                                                  {{attachment}}
                                               </li>
                                        </ul>
                        </div>
                                    </div>
                                </form>
                
                    
                </div>
            </accordion-group>
        </accordion>
        <!--  ------------------------ACCORDION ENDS HERE ------------------  -->
        
        
        
        
        
        
        
        
        
        <div>
            <!--<button type="button" ng-click="save('save')" class="btn btn-warning">Save as Draft</button>-->
            <button type="button" ng-click="save()" class="btn btn-warning">Save as Draft</button>
            <button type="submit" ng-click="submit()" class="btn btn-success">Submit</button>
        </div>
    </div>

</div>